include README.rst
include LICENSE
include HISTORY.rst
include AUTHORS.rst
include CODE_OF_CONDUCT.rst
include tox.ini
include dev-requirements.txt

recursive-include requests_toolbelt *
recursive-include docs *
recursive-include tests *

prune docs/_build
global-exclude *.py[cdo] __pycache__ *.so *.pyd
