[project]
	description = A toolbelt of useful classes and functions to be used with python-requests
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ian Cordasco (sigmavirus24)
[access "refs/for/refs/*"]
	read = group user/Ian Cordasco (sigmavirus24)
	push = group user/Ian Cordasco (sigmavirus24)
	label-Code-Review = -2..+2 group user/Ian Cordasco (sigmavirus24)
	label-Verified = -1..+1 group user/Ian Cordasco (sigmavirus24)
	rebase = group user/Ian Cordasco (sigmavirus24)
	removeReviewer = group user/Ian Cordasco (sigmavirus24)
	submit = group user/Ian Cordasco (sigmavirus24)
[access "refs/heads/*"]
	read = group user/Ian Cordasco (sigmavirus24)
	create = group user/Ian Cordasco (sigmavirus24)
	push = +force group user/Ian Cordasco (sigmavirus24)
	pushMerge = group user/Ian Cordasco (sigmavirus24)
[access "refs/tags/*"]
	push = +force group user/Ian Cordasco (sigmavirus24)
	pushTag = group user/Ian Cordasco (sigmavirus24)
	pushSignedTag = group user/Ian Cordasco (sigmavirus24)
