{
  "http_interactions": [
    {
      "recorded_at": "2015-03-03T21:29:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://http2bin.org/get"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n  \"args\": {}, \n  \"headers\": {\n    \"Accept\": \"*/*\", \n    \"Accept-Encoding\": \"gzip, deflate\", \n    \"Connection\": \"keep-alive\", \n    \"Host\": \"http2bin.org\", \n    \"User-Agent\": \"python-requests/2.5.3 CPython/2.7.9 Darwin/14.1.0\"\n  }, \n  \"origin\": \"77.99.146.203\", \n  \"url\": \"https://http2bin.org/get\"\n}\n"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://http2bin.org/get"
      }
    }
  ],
  "recorded_with": "betamax/0.4.1"
}